<h1>Admin Panel</h1>
<div>
    <h2>Manage Members</h2>
    <a href="/create_member">Create Member</a> 
</div>
<div>
    <h2>Manage Emergency Contacts</h2>
    <a href="/assign_emergency_contact">Assign Emergency Contact</a> 
</div>
<div>
    <h2>Manage Packages</h2>
    <a href="/create_package">Create Package</a> 
</div>
<div>
    <h2>Manage Member Packages</h2>
    <a href="/assign_member_package">Assign Member Package</a> 
</div>
<div>
    <h2>Manage Reviews</h2>
    <a href="/create_review">Create Review</a> 
</div>
<div>
    <h2>Manage Member Reviews</h2>
    <a href="/assign_member_review">Assign Member Review</a> 
</div>
<div>
    <h2>Manage Gym Sessions</h2>
    <a href="/create_gym_session">Create Gym Session</a> 
</div>
<div>
    <h2>Manage Member Gym Sessions</h2>
    <a href="/assign_member_gym_session">Assign Member Gym Session</a> 
</div>
<div>
    <h2>Manage Classes</h2>
    <a href="/create_class">Create Class</a> 
</div>
<div>
    <h2>Manage Equipment</h2>
    <a href="/create_equipment">Create Equipment</a> 
</div>
<div>
    <h2>Manage Class Equipment</h2>
    <a href="/assign_class_equipment">Assign Class Equipment</a> 
</div>
<div>
    <h2>Manage Staff</h2>
    <a href="/create_staff">Create Staff</a> 
</div>
<div>
    <h2>Manage Logs</h2>
    <a href="/assign_logs">Assign Logs</a> 
</div>
<div>
    <h2>Manage Sessions</h2>
    <a href="/assign_session">Assign Session</a> 
</div>
<div>
    <h2>Manage Registered</h2>
    <a href="/assign_registered">Assign Registered</a> 
</div>