<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Equipment</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container">
    <h1>All Equipment</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Purchase Date</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment_item in equipment %}
            <tr>
                <td>{{ equipment_item[0] }}</td>
                <td>{{ equipment_item[1] }}</td>
                <td>{{ equipment_item[2] }}</td>
                <td>{{ equipment_item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
