<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Contacts</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container">
    <h1>Emergency Contacts</h1>
    {% if 'admin' in session %}
    <form action="/display_emergency_contacts" method="GET">
        <label for="member_id">Select Member:</label>
        <select id="member_id" name="member_id">
            <option value="">All Members</option>
            {% for member in members %}
                <option value="{{ member[0] }}">{{ member[1] }} {{ member[2] }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Show Contacts</button>
        <br><br>
    </form>
    {% else %}
    <h4>Your emergency contacts:</h4>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Contact Name</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            {% for emergency_contact in emergency_contacts %}
            <tr>
                <td>{{ emergency_contact[0] }}</td>
                <td>{{ emergency_contact[1] }}</td>
                <td>{{ emergency_contact[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
