<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Classes</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container">
    <h1>All Classes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Max Capacity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for class_item in classes %}
            <tr>
                <td>{{ class_item[0] }}</td>
                <td>{{ class_item[1] }}</td>
                <td>{{ class_item[2] }}</td>
                <td>{{ class_item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
