<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Gym Sessions</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container">
    <h1>All Gym Sessions</h1>
    <table>
        <thead>
            <tr>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for gym_session in gym_sessions %}
            <tr>
                <td>{{ gym_session[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
