<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Packages</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container">
    <h1>All Packages</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Package Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ package[0] }}</td>
                <td>{{ package[1] }}</td>
                <td>{{ package[2] }}</td>
                <td>{{ package[3] }}</td>
                <td>{{ package[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
