<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Member Info</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<style>

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: 20px;
}
</style>

<div class="container">
    <h1>Your Info:</h1>
    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Member Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Joining Date</th>
            </tr>
        </thead>
        <tbody>
            {% for member in member_data %}
            <tr>
                <td>{{ member[0] }}</td>
                <td>{{ member[1] }} {{ member[2] }}</td>
                <td>{{ member[3] }}</td>
                <td>{{ member[4] }}</td>
                <td>{{ member[5] }}</td>
                <td>{{ member[7] }}</td>
                <td>{{ member[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
